html, body {
  position: relative;
  height: 100%;
  overflow: hidden;
}
body {
  background: #FFF;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}

menu {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  /*background: #F9F9F9;*/
  overflow-y: scroll;
}

.swiper-container-horizontal>.swiper-pagination{
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #1E87E3;
  padding: 5px 0px;
  height: 20px;
}

.swiper-pagination-bullet {
  width: auto;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  color: #C0E8FF;
  opacity: 1;
  background: rgba(0,0,0,0);
  border-radius: 0px;
  padding: 0 5px;
  letter-spacing: 1px;
}

.swiper-pagination-bullet-active {
  color:#F5FFFE;
  border-bottom: 2px solid #f5fffe;
  line-height: 14px;
}

.vendor-name {
  height: 35px;
  line-height: 35px;
  padding: 0px 10px;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: -10px;
  text-align: left;
  background-color: #F9F9F9;
  letter-spacing: 0.5px;
}

.product-wrapper {
  text-align: left;
  /*width: 100%;*/
  height: 80px;
  position: relative;
  padding: 0px 10px 0px 10px;
  background-color: #FFF;
  margin-top: 20px;
}

.content-wrapper {
  padding-bottom: 10px;
  border-bottom: 1px solid #DFDFDF;
  height: 100%;
  background-color: #FFF;
}

.product-desc {
  width: 190px;
  float: left;
  margin-left: 10px;
}

.img-wrapper {
  width: 100px;
  height: 80px;
  float: left;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  background-position: 50% 25%;
  background-repeat: no-repeat;
}

.img-wrapper img {
  height: 80px;
  width: 100px;
}

.product-name {
  margin: 0px;
  color: #050505;
  font-weight: 700;
  font-size: 16px
}

.product-price {
  color: #8E8E8E;
  font-size: 16px;
}

.submit-btn {
  position: absolute;
  bottom: 0px;
  right: 30px;
  border: 1px solid #DFDFDF;
  color: #75B97C;
  padding: 5px 20px;
  font-size: 16px;
}

.cart-container {
  background-color: #5AB65F;
  height: 60px;
  width: 101%;
  z-index: 100;
  position: absolute;
  bottom: -1px;
  left: 0px;
  text-align: center;
  color: #FCFDF7;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

.visible {
  /*display: block !important;*/
  visibility: visible;
  opacity: 1 !important;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

.cart-container .submit {
  font-size: 20px;
  line-height: 60px;
}

.shopping-card-icon {
  position: absolute;
  left: 15px;
  top: 18px;
  font-size: 24px;
  color: #287429;
}

.cart-count {
  background-color: #FEFDFC;
  height: 24px;
  width: 24px;
  border-radius: 30px;
  position: absolute;
  left: 33px;
  top: 8px;
  color: #436546;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.btn-group {
  display: block;
  width: 75px;
  position: absolute;
  bottom: 1px;
  right: 30px;
  height: 30px;
  visibility:hidden;
  opacity:0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

.show {
  visibility: visible;;
  opacity: 1 !important;
}

.btn-group input {
  width: 37px;
  height: 31px;
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: #fff;
  border: 1px solid #DFDFDF;
  color: #75B97C;
  display: block;
  float: left;
  font-size: 18px;
  line-height: 18px;
}

.btn-group input:focus {outline:0;}

.btn-group input.plus {
  border-left: 0px;
  width: 38px;
}

.img-qty-cover {
  width: 100px;
  height: 80px;
  float: left;
  display: block;
  margin: 0 auto;
  text-align: center;
  z-index: 100;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 24px;
  line-height: 80px;
  opacity: 0;
}

.cart-container img {
  position: absolute;
  left: 13px;
  top: 18px;
  height: 28px;
}

.swiper-slide-active .vendor-wrapper:last-child {
  margin-bottom: 40px;
}

.vendor-wrapper:not(:first-child) {
    padding-top: 10px;
}

.welcome {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 26px;
  font-size: 20px;
  text-align: center;
}